Repository ftdus/PyUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "linters": {
    "website/**/*.{js,vue}": ["prettier --write", "eslint --fix", "git add"],
    "src/**/*.{js,vue}": ["prettier --write", "eslint --fix", "git add"],
    "src/**/*.{scss,json}": ["prettier --write", "git add"]
  },
  "ignore": ["scripts/templates/**"]
}

:tada: 新增carousel组件并添加到官网
  src/components/carousel/src/carousel.vue
  src/utils/util.js
Due: prettier --write, eslint --fix

:tada: 新增carousel组件并添加到官网
  website/docs/carousel.md
Due: none

:wrench: 更新 icon 文件
  public/index.html
Due: none

:art: 简化了carousel组件代码
  src/components/carousel-item/index.js
  src/components/carousel/src/carousel-item.vue
  src/components/carousel/src/carousel.vue
  src/index.js
  src/router.js
  src/styles/src/carousel.scss
  src/testsDemo/carousel/carousel.vue
  src/utils/util.js
  src/views/index/index.vue
  website/docs/carousel.md
  website/nav.config.js
Due: prettier --write, eslint --fix

:art: 简化了carousel组件代码
  website/docs/carousel.md
Due: none

:art: 简化了carousel组件代码
  src/components/carousel/src/carousel.vue
Due: prettier --write, eslint --fix

:art: 增加自定义颜色和背景色
  src/components/avatar/src/avatar.vue
  website/docs/avatar.md
Due: prettier --write, eslint --fix

:zap: 完成spin组件（加载中...）
  src/components/select/src/select.vue
  src/components/spin/index.js
  src/components/spin/src/spin.vue
  src/index.js
  src/styles/src/base/common/themes.scss
  src/styles/src/index.scss
  src/styles/src/spin.scss
  website/docs/spin.md
Due: prettier --write, eslint --fix

Update select.vue
  src/components/select/src/select.vue
Due: prettier --write, eslint --fix

:zap: 官网增加demo， 优化spin
  src/components/spin/index.js
  website/nav.config.js
Due: prettier --write, eslint --fix

:lipstick: 修改了carousel的scss文件
  src/components/carousel/src/carousel.vue
  src/styles/src/carousel.scss
  website/docs/carousel.md
Due: prettier --write, eslint --fix

:wrench: 更新 icon 链接
  website/index.html
Due: none

:lipstick: 修改了carousel的scss文件
  src/styles/src/carousel.scss
Due: prettier --write

:zap: 优化spin和upload组件，增加spin单测"
  src/components/spin/index.js
  src/components/upload/index.js
  tests/unit/spin.spec.js
  website/docs/spin.md
Due: prettier --write, eslint --fix

:memo:Tag and document completed!
  src/styles/src/tag.scss
  website/docs/tag.md
  website/nav.config.js
Due: prettier --write, eslint --fix

:sparkles: 增加progress组件
  src/components/progress/index.js
  src/components/progress/src/progress.vue
  src/styles/src/index.scss
  src/styles/src/progress.scss
Due: prettier --write, eslint --fix

:bug: 修复Col组件样式不生效的问题 & Spin文档的样式加上scoped
  src/components/col/src/col.vue
  src/styles/src/col.scss
  website/docs/spin.md
Due: prettier --write, eslint --fix

:construction: add logo
  website/assets/images/logo.png
  website/components/header.vue
Due: prettier --write, eslint --fix

:memo:tag document is ok
  src/testsDemo/tag/tag.vue
Due: prettier --write, eslint --fix

:sparkles: 更新 icon 链接
  public/index.html
  website/index.html
Due: none

:sparkles: 修改主题色
  src/styles/src/base/common/themes.scss
Due: prettier --write

:sparkles: 完成radio组件以及radio-group组件编写
  src/components/radio-group/index.js
  src/components/radio/index.js
  src/components/radio/src/radio-group.vue
  src/components/radio/src/radio.vue
  src/index.js
  src/router.js
  src/styles/src/index.scss
  src/styles/src/radio-group.scss
  src/styles/src/radio.scss
  src/testsDemo/radio/radio.vue
  src/views/index/index.vue
  website/docs/radio.md
  website/nav.config.js
Due: prettier --write, eslint --fix

增加poptip组件
  package.json
  src/components/poptip/directives/transfer-dom.js
  src/components/poptip/index.js
  src/components/poptip/mixins/popper.js
  src/components/poptip/src/poptip.vue
  src/components/poptip/utils/transfer-queue.js
  src/router.js
  src/styles/src/index.scss
  src/styles/src/poptip.scss
  src/testsDemo/poptip/poptip.vue
  src/views/index/index.vue
Due: prettier --write, eslint --fix

:construction: 完善progress组件
  src/components/progress/src/progress.vue
  src/index.js
  src/router.js
  src/styles/src/base/common/themes.scss
  src/styles/src/progress.scss
  src/testsDemo/layout/layout.vue
  src/testsDemo/progress/progress.vue
  src/views/index/index.vue
Due: prettier --write, eslint --fix

✨ add tooltip component
  package.json
  src/components/tooltip/index.js
  src/components/tooltip/src/mixins/popper.js
  src/components/tooltip/src/tooltip.vue
  src/router.js
  src/styles/src/index.scss
  src/styles/src/tooltip.scss
  src/testsDemo/tooltip/tooltip.vue
  src/views/index/index.vue
  yarn.lock
Due: prettier --write, eslint --fix

:memo: 增加官网文档书写规范
  docs/website.md
Due: none

:lipstick: 微调了carousel组件的css样式
  src/components/carousel/src/carousel.vue
  src/styles/src/carousel.scss
  website/docs/carousel.md
Due: prettier --write, eslint --fix

:lipstick: 初始化
  src/components/circle/index.js
  src/components/circle/index.json
  src/components/circle/src/circle.vue
  src/styles/src/circle.scss
  src/styles/src/index.scss
Due: prettier --write, eslint --fix

修改poptip组件代码
  src/components/poptip/src/poptip.vue
  src/styles/src/poptip.scss
  src/utils/transfer-queue.js
Due: prettier --write, eslint --fix

重构select组件
  src/components/select/src/option-group.vue
  src/components/select/src/option.vue
  src/components/select/src/select.v1.scss
  src/components/select/src/select.v1.vue
  src/index.js
  src/styles/src/index.scss
  src/styles/src/option.scss
  src/testsDemo/select/select.vue
  tests/unit/tag.spec.js
Due: prettier --write, eslint --fix

:lipstick: 导入circle组件
  src/components/circle/src/circle.vue
  src/index.js
  src/router.js
  src/styles/src/circle.scss
  src/testsDemo/circle/circle.vue
  src/views/index/index.vue
Due: prettier --write, eslint --fix

:sparkles: 新增 scroll 组件
  src/components/scroll/index.js
  src/components/scroll/src/scroll-load.vue
  src/components/scroll/src/scroll.vue
  src/styles/src/index.scss
  src/styles/src/scroll.scss
Due: prettier --write, eslint --fix

:memo: 增加 scroll 组件文档
  website/docs/scroll.md
  website/nav.config.js
Due: prettier --write, eslint --fix

:lipstick: 更新组件依赖
  src/index.js
Due: prettier --write, eslint --fix

:white_check_mark: 新增 scroll 单元测试
  src/index.js
  tests/unit/scroll.spec.js
Due: prettier --write, eslint --fix

完成主题切换基本功能
  website/components/header.vue
  website/components/theme-control.vue
  website/主题切换思路以及注意事项.md
Due: prettier --write, eslint --fix

:sparkles: 完成切换主题基本功能
  website/components/header.vue
  website/components/theme-controler.vue
  website/主题切换思路以及注意事项.md
Due: prettier --write, eslint --fix

:zap: 给切换主题添加了节流函数，防止高频插入style，导致页面卡顿
  src/utils/util.js
  website/components/theme-controler.vue
Due: prettier --write, eslint --fix

:lipstick: 修改切换主题颜色拾取器位置
  website/components/theme-controler.vue
Due: prettier --write, eslint --fix

:memo: 添加分页组件的说明文档
  src/testsDemo/pagination/pagination.vue
  website/docs/pagination.md
  website/nav.config.js
Due: prettier --write, eslint --fix
