Repository ftdus/PyUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, node_modules/eslint/bin/eslint.js --fix

:construction: add Slider Demo
  src/testsDemo/slider/Slider.vue
Due: none

:tada:
  src/components/grid/src/col.vue
  src/components/grid/src/row.vue
  src/testsDemo/grid/grid.vue
Due: none

:construction: 初始化官网架构
  build/config.js
  build/strip-tags.js
  build/webpack.docs.js
  build/webpack.main.js
  vue.config.js
  website/app.vue
  website/assets/common.css
  website/assets/styles/common.scss
  website/assets/styles/docs.scss
  website/components/demo-block.vue
  website/components/header.vue
  website/components/nav.vue
  website/docs/button.md
  website/index.html
  website/main.js
  website/pages/component.vue
  website/routes/index.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:nut_and_bolt: 配置文件更新
  .eslintignore
  .eslintrc.js
  babel.config.js
  package.json
Due: none

:memo: 文档更新
  README.md
Due: none

:nut_and_bolt: lint配置更新,适用于组件库
  .lintstagedrc
Due: none

完善upload组件
  src/components/upload/src/upload-list.vue
  src/components/upload/src/upload.vue
  src/testsDemo/upload/upload.vue
Due: none

:construction: 新增创建组件,以及自动更新组件依赖脚本
  .eslintignore
  .eslintrc.js
  package.json
  scripts/comps-imports-update.js
  scripts/config/promps.js
  scripts/new-comp.js
  scripts/templates/components/index.js
  scripts/templates/components/src/name.vue
  scripts/templates/srcIndex/index.js
  scripts/utils/Version.js
  scripts/utils/tools.js
  src/index.js
Due: prettier --write

:nut_and_bolt: lint配置更新,忽略模板文件
  .lintstagedrc
Due: none

upload上传组件
  src/components/upload/src/upload-list.vue
  src/components/upload/src/upload.vue
  src/testsDemo/input/input.vue
Due: none

:construction: 组件模板更新,css规则修正
  README.md
  scripts/new-comp.js
  scripts/templates/components/name.scss
Due: prettier --write

:art:rate结构整理
  src/components/rate/src/iconfont.svg
  src/components/rate/src/iconfont.ttf
  src/components/rate/src/iconfont.woff
  src/components/rate/src/rate.vue
  src/testsDemo/rate/rate.vue
Due: none

:ambulance: upload组件
  src/components/upload/src/upload-list.vue
  src/components/upload/src/upload.vue
Due: none

初始化设置，配置页面路径
  src/components/colorPicker/index.js
  src/components/colorPicker/src/colorPicker.vue
  src/router.js
  src/testsDemo/colorPicker/ColorPicker.vue
  src/views/index/index.vue
Due: none

:ambulance: 修改文件上传列表为v-model形式，更方便
  src/components/upload/src/upload.vue
  src/testsDemo/upload/upload.vue
Due: none

修改drap上传
  src/components/upload/src/upload.vue
  src/testsDemo/upload/upload.vue
Due: none

:new: icon
  public/index.html
Due: none

:nut_and_bolt: 更新 icon 链接
  public/index.html
Due: none

:construction: 组件架构调整
  package.json
  src/styles/button.scss
  vue.config.js
Due: none

:construction: 增加样式编译脚本
  .lintstagedrc
  README.md
  package.json
  scripts/new-comp.js
  src/styles/gulpfile.js
  src/styles/src/button.scss
  src/styles/src/index.scss
Due: prettier --write

基础设置成功
  src/components/colorPicker/index.js
  src/components/colorPicker/src/colorPicker.vue
  src/testsDemo/colorPicker/ColorPicker.vue
Due: none

修改插件
  src/components/colorPicker/src/colorPicker.vue
Due: none

:construction: 组件新建脚本更新
  .huskyrc
  README.md
  package.json
  scripts/new-comp.js
  scripts/templates/components/name.scss
  scripts/templates/components/name.vue
Due: prettier --write

:dizzy: 重写button组件,样式部分,引入方式更新
  src/components/button/index.js
  src/components/button/src/button.vue
  src/index.js
  src/main.js
  src/styles/lib/button.css
  src/styles/lib/common.css
  src/styles/lib/index.css
  src/styles/src/button.scss
  src/styles/src/common.scss
  src/styles/src/index.scss
  website/main.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:construction: 组件模板更新
  scripts/new-comp.js
  scripts/templates/components/name.scss
  scripts/templates/components/name.vue
Due: prettier --write

:nut_and_bolt: npm script 优化
  package.json
Due: none

Revert ":nut_and_bolt: npm script 优化"
  package.json
Due: none

:tada: 基础代码
  src/components/grid/index.js
  src/components/grid/src/col.vue
  src/components/grid/src/row.vue
  src/testsDemo/grid/grid.vue
Due: none

:memo: 增加代码规范文档
  docs/code.md
Due: none

增加线性颜色
  package-lock.json
  src/components/colorPicker/src/colorPicker.vue
Due: none

:construction: update layout header footer content sider card
  src/components/card/src/card.vue
  src/components/layout/content.vue
  src/components/layout/footer.vue
  src/components/layout/header.vue
  src/components/layout/layout.vue
  src/components/layout/sider.vue
  src/components/layout/src/content.vue
  src/components/layout/src/footer.vue
  src/components/layout/src/header.vue
  src/components/layout/src/layout.vue
  src/components/layout/src/sider.vue
Due: none

:construction: update layout/index.js
  src/components/layout/index.js
Due: none

:construction: 新增组件配置文件
  README.md
  scripts/comps-imports-update.js
  scripts/config/promps.js
  scripts/new-comp.js
  scripts/templates/components/index.json
  scripts/templates/components/name.vue
  src/components/layout/index.json
  src/components/loadingBar/index.json
  src/components/message-box/index.js
  src/components/message-box/index.json
  src/components/message-box/src/message-box.vue
  src/components/tabs/index.json
  src/styles/src/message-box.scss
Due: prettier --write

:new: upload 拖拽上传
  src/components/upload/src/upload.vue
  src/components/upload/upload.vue
Due: none

:bug: 去掉 router 中的 base 设置
  src/router.js
Due: none

基本效果出来
  package.json
  src/components/colorPicker/src/colorPicker.vue
  src/components/colorPicker/src/common/Alpha.vue
  src/components/colorPicker/src/common/Checkboard.vue
  src/components/colorPicker/src/common/EditableInput.vue
  src/components/colorPicker/src/common/Hue.vue
  src/components/colorPicker/src/common/Saturation.vue
  src/components/colorPicker/src/mixin/color.js
Due: none

css类命名规范
  src/components/colorPicker/src/colorPicker.vue
  src/components/colorPicker/src/common/EditableInput.vue
Due: none

增加选择框
  src/components/colorPicker/src/colorPicker.vue
Due: none

:racehorse: 完善upload上传组件
  src/components/upload/src/ajax.js
  src/components/upload/src/upload-list.vue
  src/components/upload/src/upload.vue
  src/testsDemo/upload/upload.vue
Due: none

Path conditions:
  prettier --write: (any of: website/**/*.{js,vue}) or (any of: scripts/**/*.js)
  node_modules/eslint/bin/eslint.js --fix: any of: website/**/*.{js,vue}
