Repository ftdus/PyUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Update README.md
  README.md
Due: none

:ambulance: 修复eslint错误
  public/index.html
  src/components/pagination/src/pager.vue
  src/components/pagination/src/pagination.js
  src/index.js
  src/styles/src/index.scss
  src/styles/src/pagination.scss
  website/docs/pagination.md
Due: prettier --write, eslint --fix

:white_check_mark: 添加radio、radio-group组件测试
  tests/unit/card.spec.js
  tests/unit/radio.spec.js
Due: none

:sparkles: 提交form组件
  package.json
  src/components/form-item/index.js
  src/components/form-item/src/form-item.vue
  src/components/form/index.js
  src/components/form/src/form.vue
  src/index.js
  src/styles/src/base/mixins/mixins.scss
  src/styles/src/form-item.scss
  src/styles/src/form.scss
  src/styles/src/index.scss
  src/testsDemo/form/form1.vue
  src/testsDemo/form/form2.vue
  src/testsDemo/form/form3.vue
  src/testsDemo/form/form4.vue
  src/testsDemo/form/form5.vue
  src/testsDemo/form/form6.vue
  src/testsDemo/form/form7.vue
  src/testsDemo/form/test.js
  src/utils/util.js
  website/docs/form.md
  website/nav.config.js
Due: prettier --write, eslint --fix

:lipstick: 修改scss文件，添加sizes组件
  src/components/pagination/src/pager.vue
  src/components/pagination/src/pagination.js
  src/index.js
  src/styles/src/index.scss
  src/styles/src/pagination.scss
  src/testsDemo/pagination/pagination.vue
  website/docs/pagination.md
  website/nav.config.js
Due: prettier --write, eslint --fix

:memo: 增加layout、card、progress 官网文档
  website/docs/card.md
  website/docs/layout.md
  website/docs/progress.md
  website/nav.config.js
Due: prettier --write, eslint --fix

:bug: 修去掉 复 selec去掉 select 多余的 json 文件t 问题
  src/components/select/index.json
Due: prettier --write

:zap: 使用lodash 防抖函数替换util防抖函数
  package.json
  src/index.js
  website/components/header.vue
  website/components/theme-controller.vue
  yarn.lock
Due: prettier --write, eslint --fix

:memo: 官网layout布局组件文档完成
  package-lock.json
  src/components/card/index.json
  website/docs/layout.md
Due: prettier --write

:memo: 完善layout官网组件文档
  website/docs/layout.md
Due: none

:white_check_mark: avatar单元测试
  src/styles/src/avatar.scss
  tests/unit/avatar.spec.js
Due: prettier --write

:memo: 完善card组件官网文档
  website/docs/card.md
Due: none

:art: select and tag completed
  src/components/select/src/option-group.vue
  src/components/select/src/option.vue
  src/components/select/src/select.vue
  src/index.js
  src/styles/src/index.scss
  src/styles/src/option-group.scss
  src/styles/src/option.scss
  src/styles/src/select.scss
  src/testsDemo/select/select.vue
  website/docs/select.md
Due: prettier --write, eslint --fix

:art: select and tag has completed
  src/components/select/src/select.v1.scss
  src/components/select/src/select.v1.vue
Due: prettier --write, eslint --fix

:art: select and tag has completed
  package-lock.json
  src/components/select/index.json
  src/components/select/src/option-group.vue
  src/components/select/src/option.vue
  src/components/select/src/select.vue
  src/components/tag/index.js
  src/components/tag/index.json
  src/components/tag/src/Tag.vue
  src/index.js
  src/styles/src/index.scss
  src/styles/src/option-group.scss
  src/styles/src/option.scss
  src/styles/src/select.scss
  src/styles/src/tag.scss
  src/testsDemo/select/select.vue
  website/docs/select.md
  website/docs/tag.md
  website/nav.config.js
Due: prettier --write, eslint --fix

:art: 微调了carousel.vue文件的一些代码空格
  package.json
  src/components/carousel/src/carousel.vue
  tests/unit/carousel.spec.js
Due: prettier --write, eslint --fix

:art: 微调了carousel.vue文件的一些代码空格
  package.json
Due: none

:art: 微调了carousel.vue文件的一些代码空格
  tests/unit/carousel.spec.js
Due: none

✨ 添加tooltip组件
  package.json
  src/components/tooltip/index.js
  src/components/tooltip/src/mixins/popper.js
  src/components/tooltip/src/tooltip.vue
  src/index.js
  src/styles/src/index.scss
  src/styles/src/tooltip.scss
  tests/unit/tooltip.spec.js
  website/docs/tooltip.md
  website/nav.config.js
  yarn.lock
Due: prettier --write, eslint --fix

:lipstick: message has completed
  src/components/message/src/main.js
  src/components/message/src/message.vue
  src/styles/src/base/common/themes.scss
  src/styles/src/message.scss
Due: prettier --write, eslint --fix

:white_check_mark: avatar单元测试
  tests/unit/avatar.spec.js
Due: none

💄 tooltip样式主题样式抽离
  src/styles/src/base/common/themes.scss
  src/styles/src/tooltip.scss
Due: prettier --write

:lipstick: message component has update
  src/components/select/src/option-group.vue
  src/components/select/src/option.vue
  src/components/select/src/select.vue
  src/styles/src/option-group.scss
  src/styles/src/option.scss
  src/styles/src/select.scss
Due: prettier --write, eslint --fix

Update index.js
  src/index.js
Due: prettier --write, eslint --fix

Update index.scss
  src/styles/src/index.scss
Due: prettier --write

:construction: resolve conflict
  src/index.js
  src/styles/src/index.scss
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: website/**/*.{js,vue}) or (any of: src/**/*.{js,vue})) or (any of: src/**/*.{scss,json})
  eslint --fix: (any of: website/**/*.{js,vue}) or (any of: src/**/*.{js,vue})
