Repository ftdus/PyUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, node_modules/eslint/bin/eslint.js --fix

:nut_and_bolt: 更新 iconfont 链接
  public/index.html
Due: none

:bug: 修改 emoji 初次提交的代码为 tada
  scripts/config/promps.js
Due: prettier --write

:tada: 提交cascader级联选择器组件
  src/components/cascader/index.js
  src/components/cascader/index.json
  src/components/cascader/src/cascader-menu-item.vue
  src/components/cascader/src/cascader-menu.vue
  src/components/cascader/src/cascader.vue
  src/router.js
  src/styles/src/cascader.scss
  src/styles/src/index.scss
  src/testsDemo/cascader/cascader.vue
  src/testsDemo/cascader/mock.js
  src/views/index/index.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:sparkles: 添加分页组件组件Pagination
  package-lock.json
  package.json
  src/components/pagination/index.js
  src/components/pagination/index.json
  src/components/pagination/src/pageInput.vue
  src/components/pagination/src/pager.vue
  src/components/pagination/src/pagination.js
  src/index.js
  src/router.js
  src/styles/src/index.scss
  src/styles/src/pagination.scss
  src/testsDemo/pagination/pagination.vue
  src/views/index/index.vue
  yarn.lock
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:art: 代码优化
  src/components/rate/src/rate.vue
  src/testsDemo/rate/rate.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:new: 新增 icon 组件
  src/components/icon/index.js
  src/components/icon/src/icon.vue
  src/index.js
  src/router.js
  src/styles/src/icon.scss
  src/styles/src/index.scss
  src/styles/src/menu-item.scss
  src/styles/src/menu.scss
  src/testsDemo/icon/icon.vue
  src/views/index/index.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: 改进 icon 中多余空格
  src/components/icon/src/icon.vue
  src/styles/src/menu.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:construction:Message 完成中
  src/components/message/index.js
  src/components/message/index.json
  src/components/message/src/main.js
  src/components/message/src/message.vue
  src/index.js
  src/styles/src/index.scss
  src/styles/src/message.scss
  src/views/index/index.vue
  tests/unit/message.spec.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:co:heavy_plus_sign:添加依赖 eslint-plugin-vue
  package.json
Due: none

:bug: 修改代码格式
  src/styles/src/menu.scss
Due: none

:dizzy: 测试一下 button 格式
  src/styles/src/button.scss
Due: none

:dizzy: rate重构
  src/components/message-box/index.json
  src/components/rate/index.js
  src/components/rate/index.json
  src/components/rate/src/iconfont.svg
  src/components/rate/src/iconfont.ttf
  src/components/rate/src/rate.vue
  src/index.js
  src/styles/src/index.scss
  src/styles/src/rate.scss
  src/testsDemo/rate/rate.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: 改进代码格式
  src/components/message-box/index.json
  src/components/rate/index.json
  src/components/rate/src/rate.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:construction: 增加scss格式化
  .eslintignore
  .lintstagedrc
  .prettierrc.js
  package.json
Due: none

:dizzy: 改进layout组件代码结构
  src/components/content/index.js
  src/components/content/index.json
  src/components/footer/index.js
  src/components/footer/index.json
  src/components/header/index.js
  src/components/header/index.json
  src/components/layout/index.js
  src/components/layout/index.json
  src/components/layout/src/content.vue
  src/components/layout/src/footer.vue
  src/components/layout/src/header.vue
  src/components/layout/src/layout.vue
  src/components/layout/src/sider.vue
  src/components/sider/index.js
  src/components/sider/index.json
  src/styles/src/content.scss
  src/styles/src/footer.scss
  src/styles/src/header.scss
  src/styles/src/layout.scss
  src/styles/src/sider.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:art: 修改class格式
  src/components/pagination/src/pageInput.vue
  src/components/pagination/src/pager.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:construction: add header and nav sections of website
  website/app.vue
  website/components/demo-block.vue
  website/components/header.vue
  website/components/nav.vue
  website/docs/button.md
  website/docs/changelog.md
  website/docs/input.md
  website/docs/layout.md
  website/docs/quick-start.md
  website/index.html
  website/main.js
  website/nav.config.js
  website/pages/component.vue
  website/routes/index.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

add inputNumber
  src/components/inputNumber/index.js
  src/components/inputNumber/src/InputNumber.vue
  src/index.js
  src/router.js
  src/testsDemo/inputNumber/inputNumber.vue
  src/views/index/index.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:rocket: 修复代码规范
  src/components/colorPicker/index.js
  src/components/colorPicker/src/color-picker.vue
  src/components/colorPicker/src/colorPicker.vue
  src/components/colorPicker/src/common/Alpha.vue
  src/components/colorPicker/src/common/Checkboard.vue
  src/components/colorPicker/src/common/Hue.vue
  src/components/colorPicker/src/common/Saturation.vue
  src/components/colorPicker/src/common/check-board.vue
  src/components/colorPicker/src/common/editable-input.vue
  src/styles/src/testcc.scss
  src/testsDemo/colorPicker/ColorPicker.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:nut_and_bolt: 更新 icon 链接
  public/index.html
Due: none

:construction: Message基本完成
  src/components/message/index.js
  src/components/message/src/main.js
  src/components/message/src/message.vue
  src/router.js
  src/styles/src/message.scss
  src/testsDemo/message/message.vue
  src/views/index/index.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:bug: 测试用例有点问题
  tests/unit/message.spec.js
Due: none

:lipstick: 图标更换
  src/components/message/src/message.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:new: 给 icon 新增事件功能
  src/components/icon/src/icon.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:tada: Notification组件初次提交
  src/components/notification/index.js
  src/components/notification/index.json
  src/components/notification/src/notification.js
  src/components/notification/src/notification.vue
  src/index.js
  src/router.js
  src/styles/src/index.scss
  src/styles/src/notification.scss
  src/testsDemo/notification/notification.vue
  src/views/index/index.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: Notification组件根据eslint格式调整代码结构
  src/components/notification/src/notification.js
  src/components/notification/src/notification.vue
  src/testsDemo/notification/notification.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: 改进card组件代码结构
  src/components/card/index.js
  src/components/card/index.json
  src/components/card/src/card.vue
  src/styles/src/card.scss
  src/styles/src/index.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:memo: 修复文件引用命名错误
  package-lock.json
  package.json
  src/components/colorPicker/src/color-picker.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: 修复 eslint 问题
  src/components/menu/src/menu.vue
  src/utils/emitter.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:construction: 配置更新
  .eslintignore
  build/config.js
  vue.config.js
Due: none

:dizzy: 优化badge样式
  .prettierrc.js
  scripts/templates/components/name.scss
  src/base/themes.scss
  src/components/badge/index.js
  src/components/badge/src/badge.vue
  src/styles/src/badge.scss
  website/assets/styles/table.scss
  website/docs/badge.md
  website/docs/button.md
  website/docs/input.md
  website/main.js
  website/nav.config.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: 优化button-group代码
  src/components/button-group/index.js
  src/components/button-group/src/button-group.vue
  src/components/buttonGroup/index.js
  src/components/buttonGroup/src/button-group.vue
  src/styles/src/button-group.scss
  src/styles/src/index.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: 优化tabs代码结构
  .eslintrc.js
  src/components/tabs/index.js
  src/components/tabs/src/tab-pane.vue
  src/components/tabs/src/tabs.vue
  src/styles/src/index.scss
  src/styles/src/tabs.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:construction: 提交代码
  src/components/grid/index.js
  src/components/grid/src/col.vue
  src/components/grid/src/row.vue
  src/styles/src/grid.scss
  src/styles/src/index.scss
  src/testsDemo/grid/grid.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:construction: layout组件初步完成
  src/components/header/index.json
  src/components/layout/src/content.vue
  src/components/layout/src/footer.vue
  src/components/layout/src/header.vue
  src/components/layout/src/layout.vue
  src/components/layout/src/sider.vue
  src/index.js
  src/router.js
  src/styles/src/content.scss
  src/styles/src/footer.scss
  src/styles/src/header.scss
  src/styles/src/layout.scss
  src/styles/src/sider.scss
  src/testsDemo/layout/layout.vue
  src/views/index/index.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: 修改testsDemo中layout文件代码结构
  src/testsDemo/layout/layout.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:nut_and_bolt: 组件编译器配置文件
  .editorconfig
  README.md
Due: none

:dizzy: 代码缩进调整
  src/components/badge/src/badge.vue
  src/components/button-group/src/button-group.vue
  src/components/button/src/button.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:nut_and_bolt: prettier配置更新
  .lintstagedrc
  .prettierignore
  .prettierrc
  .prettierrc.js
Due: none

Path conditions:
  prettier --write: ((any of: website/**/*.{js,vue}) or (any of: src/**/*.{js,vue})) or (any of: scripts/**/*.js)
  node_modules/eslint/bin/eslint.js --fix: (any of: website/**/*.{js,vue}) or (any of: src/**/*.{js,vue})
