Repository ftdus/PyUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, node_modules/eslint/bin/eslint.js --fix

.lintstagedrc:

{
  "linters": {
    "website/**/*.{js,vue}": [
      "prettier --write",
      "node_modules/eslint/bin/eslint.js --fix",
      "git add"
    ],
    "src/**/*.{js,vue}": [
      "prettier --write",
      "node_modules/eslint/bin/eslint.js --fix",
      "git add"
    ],
    "scripts/**/*.js": ["prettier --write", "git add"]
  },
  "ignore": []
}

:dizzy: 修改layout组件代码结构，去除多余的引入
  src/components/layout/index.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: 重构tab-pane组件目录结构
  src/components/tab-pane/index.js
  src/components/tab-pane/src/tab-pane.vue
  src/components/tabPane/index.js
  src/components/tabs/src/tabs.vue
  src/styles/src/tab-pane.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:tada: 初次提交代码,初始化select组件
  src/components/select/index.js
  src/components/select/index.json
  src/components/select/src/select.vue
  src/styles/src/select.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:heavy_minus_sign: 去掉eslint-plugin-vue’
  package.json
Due: none

:sparkles:select组件基本功能已完成
  src/components/select/src/select.vue
  src/router.js
  src/styles/src/index.scss
  src/styles/src/select.scss
  src/testsDemo/select/select.vue
  src/views/index/index.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

alert组件
  src/components/alert/index.js
  src/components/alert/src/alert.vue
  src/index.js
  src/router.js
  src/testsDemo/alert/alert.vue
  src/testsDemo/button/button.vue
  src/testsDemo/tabs/Tabs.vue
  src/views/index/index.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:construction: 提交组件代码
  src/components/col/index.js
  src/components/col/src/col.vue
  src/components/row/index.js
  src/components/row/src/row.vue
  src/styles/src/col.scss
  src/styles/src/index.scss
  src/styles/src/row.scss
  src/testsDemo/grid/grid.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: 改进css规范
  src/components/col/src/col.vue
  src/styles/src/col.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: 改进css
  src/components/row/src/row.vue
  src/styles/src/row.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:construction: 组件模板更新
  scripts/config/promps.js
  scripts/templates/components/name.vue
Due: prettier --write

更换图标字体
  src/components/alert/src/alert.vue
  src/components/tabs/src/tabs.vue
  src/styles/src/tabs.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: 重构loading-bar组件
  .eslintrc.js
  src/components/loading-bar/index.js
  src/components/loading-bar/index.json
  src/components/loading-bar/src/loading-bar.js
  src/components/loading-bar/src/loading-bar.vue
  src/components/loadingBar/index.js
  src/components/loadingBar/src/loadingBar.js
  src/components/loadingBar/src/loadingBar.vue
  src/index.js
  src/styles/src/index.scss
  src/styles/src/loading-bar.scss
  website/docs/loading-bar.md
  website/nav.config.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:new: upload上传组件完成，后续添加官网demo
  src/components/upload/src/ajax.js
  src/components/upload/src/upload-list.vue
  src/components/upload/src/upload.vue
  src/router.js
  src/styles/src/index.scss
  src/styles/src/upload.scss
  src/testsDemo/upload/upload.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:nut_and_bolt: 冲突解决
  src/index.js
  src/styles/src/index.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:construction: 组件新建完成后,自动依赖样式文件
  README.md
  package.json
  scripts/new-comp.js
  scripts/styles-update.js
  src/index.js
  src/styles/src/index.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: CSS基础搭建
  src/styles/src/common/style.scss
  src/styles/src/mixins/.gitkeep
  src/styles/src/mixins/config.scss
  src/styles/src/mixins/functons.scss
  src/styles/src/mixins/mixins.scss
  src/styles/src/slider.scss
  src/styles/src/variables/themes.scss
Due: none

:dizzy CSS基础设计
  README.md
  src/components/slider/index.js
  src/components/slider/src/Slider.vue
  src/styles/src/index.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: CSS基础规范设计
  src/testsDemo/slider/Slider.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

提取alert样式
  src/components/alert/src/alert.vue
  src/styles/src/alert.scss
  src/styles/src/index.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

alert组件：提取样式到styles
  src/components/alert/src/alert.vue
  src/index.js
  src/styles/src/alert.scss
  src/styles/src/index.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

删除无效组件：grid
  src/components/grid/index.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: fixed eslint
  .eslintrc.js
  src/components/menu-group/index.js
  src/components/menu-item/index.js
  src/components/menu-item/src/menu-item.vue
  src/components/menu/src/menu-group.vue
  src/components/menu/src/menu-item.vue
  src/components/menu/src/menu.vue
  src/components/menu/src/mixin.js
  src/index.js
  src/mixins/emitter.js
  src/mixins/link.js
  src/styles/src/index.scss
  src/styles/src/menu-item.scss
  src/styles/src/menu.scss
  src/testsDemo/menu/menu.vue
  src/utils/util.js
  yarn.lock
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: CSS设计和基础规范搭建
  src/components/slider/index.json
  src/components/slider/src/Slider.vue
  src/styles/src/common/style.scss
  src/styles/src/index.scss
  src/styles/src/mixins/config.scss
  src/styles/src/mixins/functons.scss
  src/styles/src/mixins/mixins.scss
  src/styles/src/sider.scss
  src/styles/src/slider.scss
  src/styles/src/variables/themes.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:bug: 将 menu 中报错修复了
  src/mixins/emitter.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

修改alert导出文件bug
  src/components/alert/index.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:art: css架构调整
  package.json
  scripts/styles-update.js
  src/styles/base/common/style.scss
  src/styles/base/mixins/config.scss
  src/styles/base/mixins/functons.scss
  src/styles/base/mixins/mixins.scss
  src/styles/base/variables/themes.scss
  src/styles/src/index.scss
  src/styles/src/slider.scss
  vue.config.js
  yarn.lock
Due: prettier --write

:bug: loading-bar引入修复
  scripts/comps-imports-update.js
  src/components/loading-bar/index.json
  src/index.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: scss引入方式优化
  scripts/templates/components/name.scss
  src/styles/src/button.scss
  src/styles/src/loading-bar.scss
Due: none

:dizzy: 样式依赖全部更新
  src/base/style.scss
  src/base/themes.scss
  src/components/divider/src/divider.vue
  src/components/input/src/Input.vue
  src/components/submenu/src/submenu.vue
  src/components/switch/src/switch.vue
  src/styles/src/alert.scss
  src/styles/src/badge.scss
  src/styles/src/button-group.scss
  src/styles/src/card.scss
  src/styles/src/cascader.scss
  src/styles/src/col.scss
  src/styles/src/common.scss
  src/styles/src/content.scss
  src/styles/src/footer.scss
  src/styles/src/header.scss
  src/styles/src/icon.scss
  src/styles/src/layout.scss
  src/styles/src/menu.scss
  src/styles/src/message-box.scss
  src/styles/src/notification.scss
  src/styles/src/pagination.scss
  src/styles/src/rate.scss
  src/styles/src/row.scss
  src/styles/src/select.scss
  src/styles/src/slider.scss
  src/styles/src/tab-pane.scss
  src/styles/src/tabs.scss
  src/styles/src/upload.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:construction: ci脚本更新
  scripts/git-commit.js
Due: prettier --write

:new: 引入 Layout 相关组件
  src/components/content/index.json
  src/components/footer/index.json
  src/components/header/index.json
  src/components/layout/index.json
  src/components/sider/index.json
  src/index.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:memo: CSS设计文档docs/css.md
  docs/css.md
  src/styles/base/common/themes.scss
  src/styles/base/mixins/utils.scss
Due: none

:memo: 新增CSS开发文档
  docs/css.md
  src/styles/base/mixins/mixins.scss
  src/styles/src/slider.scss
  vue.config.js
Due: none

:wrench: ci配置更新
  scripts/config/promps.js
  scripts/utils/Version.js
  scripts/utils/tools.js
Due: prettier --write

:construction: 用 Layout 组件和新的 Menu 组件重写官网
  website/app.vue
  website/components/demo-block.vue
  website/components/header.vue
  website/components/nav.vue
  website/nav.config.js
  website/pages/component.vue
  website/routes/index.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:dizzy: 展示颜色选择器模块
  package.json
  src/components/color-picker/index.js
  src/components/color-picker/index.json
  src/components/color-picker/src/color-picker.vue
  src/components/color-picker/src/common/Alpha.vue
  src/components/color-picker/src/common/Hue.vue
  src/components/color-picker/src/common/Saturation.vue
  src/components/color-picker/src/common/check-board.vue
  src/components/color-picker/src/common/editable-input.vue
  src/components/color-picker/src/mixin/color.js
  src/index.js
  src/router.js
  src/styles/src/color-picker.scss
  src/styles/src/index.scss
  src/testsDemo/colorPicker/colorPicker.vue
  src/views/index/index.vue
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:racehorse: css命名改为BEM规范
  src/components/color-picker/src/color-picker.vue
  src/components/color-picker/src/common/Alpha.vue
  src/components/color-picker/src/common/Hue.vue
  src/components/color-picker/src/common/Saturation.vue
  src/components/color-picker/src/common/editable-input.vue
  src/styles/src/color-picker.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

:art: 根据css架构更新了Notification的样式
  src/components/notification/src/notification.vue
  src/styles/src/notification.scss
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix

官网加上alert文档
  src/components/alert/src/alert.vue
  src/styles/src/alert.scss
  src/testsDemo/alert/alert.vue
  website/docs/alert.md
  website/docs/tabs.md
  website/nav.config.js
Due: prettier --write, node_modules/eslint/bin/eslint.js --fix
