Repository ftdus/PyUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:bug: 修复若干问题
  src/components/loading-bar/src/loading-bar.js
  src/components/loading-bar/src/loading-bar.vue
  src/styles/src/loading-bar.scss
  yarn.lock
Due: prettier --write, eslint --fix

:bug: name 解构赋值错误
  src/mixins/emitter.js
Due: prettier --write, eslint --fix

:white_check_mark: 增加card组件单元测试
  tests/unit/card.spec.js
Due: none

:bug: 修改 icon 引入链接
  public/index.html
Due: none

加入stylelint配置
  .stylelintrc.js
  package.json
  src/styles/base/common/themes.scss
  src/styles/src/slider.scss
Due: prettier --write

:sparkles: Message
  src/components/message/index.js
  src/components/message/index.json
  src/components/message/src/main.js
  src/components/message/src/message.vue
  src/styles/src/message.scss
Due: prettier --write, eslint --fix

useage
  website/docs/message.md
Due: none

:memo: 新增Notification的官网demo文档
  src/components/notification/src/notification.vue
  src/styles/src/notification.scss
  src/testsDemo/notification/notification.vue
  website/docs/notification.md
  website/nav.config.js
Due: prettier --write, eslint --fix

:bug: 修复官网菜单跳转失效的问题
  website/components/nav.vue
Due: prettier --write, eslint --fix

:memo: Message useage
  website/docs/message.md
  website/nav.config.js
Due: prettier --write, eslint --fix

:bug: 引入路径
  src/styles/src/index.scss
Due: prettier --write

:bug: message 提高z-index层级
  src/styles/src/message.scss
Due: prettier --write

:memo: 添加cascader级联选择器官网文档
  src/components/cascader/index.json
  src/components/cascader/src/cascader-menu-item.vue
  src/components/cascader/src/cascader.vue
  src/index.js
  src/styles/src/cascader.scss
  website/docs/cascader.md
  website/nav.config.js
Due: prettier --write, eslint --fix

:bug: 官网引入 icon 字体图标
  src/components/color-picker/index.json
  src/index.js
  website/index.html
Due: prettier --write, eslint --fix

:art: 加入stylelint、CSS构建优化
  package.json
  vue.config.js
Due: none

:art: 加入stylelint、CSS构建优化
  src/App.vue
Due: prettier --write, eslint --fix

select fenzuing
  src/components/select/src/Untitled-2.vue
  src/styles/src/select.scss
  src/testsDemo/select/select.vue
Due: prettier --write, eslint --fix

:memo: 增加event说明
  website/docs/notification.md
Due: none

:memo: 增加官网文档
  website/docs/colorPicker.md
  website/nav.config.js
Due: prettier --write, eslint --fix

优化CSS构建
  scripts/templates/components/name.scss
Due: none

:art: 官网主题色修改 & 样式微调 & 文档部分格式化
  website/assets/styles/table.scss
  website/components/demo-block.vue
  website/components/header.vue
  website/components/nav.vue
  website/docs/button.md
  website/docs/cascader.md
Due: prettier --write, eslint --fix

:lipstick: 文档代码块宽度问题修复
  website/assets/styles/common.scss
  website/assets/styles/docs.scss
Due: none

:lipstick: 修改card组件样式代码
  package-lock.json
  package.json
  src/styles/src/base/common/themes.scss
  src/styles/src/card.scss
Due: prettier --write

:tada: 更新组件到官网
  src/components/col/src/col.vue
  src/components/row/src/row.vue
  src/styles/src/col.scss
  src/styles/src/row.scss
  website/docs/grid.md
  website/nav.config.js
Due: prettier --write, eslint --fix

规范scss代码，优化upload组件
  src/components/upload/src/upload-list.vue
  src/components/upload/src/upload.vue
  src/styles/src/upload.scss
Due: prettier --write, eslint --fix

:bug: 修正官网demo中的说明文字
  src/styles/src/notification.scss
  website/docs/notification.md
Due: prettier --write

:art: 按照新的css架构标准修改级联选择器组件css
  src/styles/src/cascader.scss
Due: prettier --write

:lipstick: 修改layout组件样式代码
  src/styles/src/base/common/themes.scss
  src/styles/src/content.scss
  src/styles/src/footer.scss
  src/styles/src/index.scss
  src/styles/src/layout.scss
  src/styles/src/sider.scss
Due: prettier --write

优化upload组件代码，增加官网实例
  src/components/upload/index.js
  src/components/upload/src/upload-list.vue
  src/components/upload/src/upload.vue
  src/styles/src/base/common/themes.scss
  src/styles/src/upload.scss
  website/docs/upload.md
  website/nav.config.js
Due: prettier --write, eslint --fix

:lipstick: 修改scss文件
  src/index.js
  src/styles/src/base/common/themes.scss
  src/styles/src/pagination.scss
Due: prettier --write, eslint --fix

:lipstick: 修改message组件样式代码
  src/components/message/src/message.vue
  src/styles/src/base/common/themes.scss
  src/styles/src/message.scss
Due: prettier --write, eslint --fix

:memo:select文档编写完成，scss编写规则修改完成
  src/styles/src/select.scss
Due: prettier --write

:tada: 创建 Avatar组件
  src/components/avatar/index.js
  src/components/avatar/src/avatar.vue
  src/index.js
  src/styles/src/avatar.scss
  src/styles/src/index.scss
  website/docs/avatar.md
  website/nav.config.js
Due: prettier --write, eslint --fix

:sparkles:新增tag组件，文档待编写
  src/components/tag/index.js
  src/components/tag/index.json
  src/components/tag/src/Tag.vue
  src/index.js
  src/router.js
  src/styles/src/index.scss
  src/styles/src/tag.scss
  src/testsDemo/tag/tag.vue
  src/views/index/index.vue
Due: prettier --write, eslint --fix

:construction: 提交组件代码
  src/components/collapse-item/index.js
  src/components/collapse-item/src/collapse-item.vue
  src/components/collapse-item/src/transition.js
  src/components/collapse/index.js
  src/components/collapse/src/collapse.vue
  src/index.js
  src/styles/src/collapse-item.scss
  src/styles/src/collapse.scss
  src/styles/src/index.scss
  website/docs/collapse.md
  website/nav.config.js
Due: prettier --write, eslint --fix

:tada: 1.0
  src/components/carousel-item/index.js
  src/components/carousel/index.js
  src/components/carousel/src/carousel-item.vue
  src/components/carousel/src/carousel.vue
  src/index.js
  src/router.js
  src/styles/src/carousel.scss
  src/styles/src/index.scss
  src/testsDemo/carousel/carousel.vue
  src/utils/util.js
  src/views/index/index.vue
  website/docs/carousel.md
  website/nav.config.js
Due: prettier --write, eslint --fix

:tada: 新增carousel组件并添加到官网
  src/components/carousel/src/carousel-item.vue
  src/components/carousel/src/carousel.vue
  src/styles/src/carousel.scss
  src/testsDemo/carousel/carousel.vue
  website/docs/carousel.md
Due: prettier --write, eslint --fix

:sparkles: 更新 README
  README.md
Due: none

Path conditions:
  prettier --write: ((any of: website/**/*.{js,vue}) or (any of: src/**/*.{js,vue})) or (any of: src/**/*.{scss,json})
  eslint --fix: (any of: website/**/*.{js,vue}) or (any of: src/**/*.{js,vue})
